In [1]:
import pandas as pd

# Read data from CSVs

In [10]:
ds_emp = pd.read_csv("/Users/nsammut/Documents/Personal/Half_Days/Python 1/employees.csv")
ds_sales = pd.read_csv("/Users/nsammut/Documents/Personal/Half_Days/Python 1/garage_sales.csv")

In [7]:
ds_emp.describe()

       Employee ID
count          3.0
mean           2.0
std            1.0
min            1.0
25%            1.5
50%            2.0
75%            2.5
max            3.0

In [11]:
ds_sales.describe()

         Cashier   Quantity        Price
count  12.000000  11.000000    12.000000
mean    1.583333   3.727273  1030.833333
std     0.792961   3.523944  2516.073631
min     1.000000   1.000000   190.000000
25%     1.000000   1.000000   197.500000
50%     1.000000   2.000000   200.000000
75%     2.000000   4.500000   600.000000
max     3.000000  12.000000  9000.000000